* {
  margin: 0;
}
.visible {
  display: block;
}

.invisible {
  display: none;
}
header, #repoList, #detailedView {
  border: 1px solid black;
}

#createNew {
  width: 10vw;
  height: 10vh;
  position: absolute;
  left: 45vw;
  top: 45vh;
}

#createNewBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
}